*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 400 13.3333px Arial;
}

/* Remove as setas de incremento e decremento do input /*
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove as setas de incremento e decremento do input /*
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

table,
tr,
td,
th {
    border: #011627 solid 1px;
    margin: 5px auto;
}

table {
    border-collapse: collapse;
    box-sizing: border-box;
}

table tr td {
    text-align: center;
}
th{
    font-weight: 600;
}
tr:nth-child() {
    background: white;
}

tr:nth-child(1) {
    background: #011627;
    color: white;
}
.box input {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #011627;
    padding: 9px 9px;
    outline: none;
    color: #011627;
    border-radius: 5px;
    transition: 0.25s;
}

.box input:hover {
    border-color: #011627;
}

.bt2 {
    border: 0;
    background: none;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #104439;
    padding: 14px 40px;
    width: 140px;
    outline: none;
    color: #104439;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}

.bt2:hover {
    background: #104439;
    color: white;
}