body{
	margin: 0px;
	padding: 0;
	font-family: arial ;
}

.barra {
	background: #011627;
	height: 80px;
	width: 100%;
	margin: 0;
	padding: 0;
}
.menu {
	float: left;
	width: 20%;
	height:580px;
	background: #011627;
	margin: 0;
	padding: 0;
}
.caixa {
	float:right;
	background: white;
	width: 80%;
	height: 580px;
	text-align: center;
	line-height: 100px;
	color: #ddd;
}
.linha{
	background: #104439;
	height: 6px;
	width: 100%;
	margin: 0; 
}

.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
	background: #011627;
	text-align: center; 
	border-radius: 4px;
}
.box h1{
	color: white;
	font-weight: 500;
}
.box input[type = "password"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #104439;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
} 
.box input[type = "password"]:hover{
	width: 280px;
	border-color: #104439;
}
.bt{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ff0022;
	padding: 14px 40px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
		
}
.bt:hover{
	background: #ff0022;
}
.bt2{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #104439;
	padding: 14px 40px;
	width: 200px;
	outline: none;
	color: #104439;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;

}
.bt2:hover{
	background: #104439;
	color: white;
}

a:link{
	text-decoration: none;
}